@import '../../../theme';


.slideshow-container {
    vertical-align: middle;
}

.slideshow {
    height: 400px;
}

.slideshow-item {
    margin-top: 10rem;
    font-size: 3rem;
    max-width: 80%;
    margin-left: 10%;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    .slideshow {
        height: 300px;
    }

    .slideshow-item {
        margin-top: 5rem;
        font-size: 2rem;
        max-width: 80%;
        margin-left: 10%;
        color: #FFFFFF;
    }
}