@import '../../theme';


.nav-brand {
    padding-left: 5rem;
    padding-right: 2rem;
    font-size: 2rem !important;
}

.nav-brand-text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.nav-brand-aspen {
    font-size: 1.75rem;
    height: 1.9rem;
}

.nav-brand-machines {
    font-size: 1.25rem;
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.nav-brand-line {
    width: 2.25rem;
    height: 1px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    margin-top: 0.85rem;
}

.nav-link {
    padding-right: 1rem !important;
    font-size: 1.5rem !important;
    &:hover {
        animation: pulse 1s infinite; //other browsers
        -webkit-animation: pulse 1s infinite; //webkit browsers
        -moz-animation: pulse 1s infinite; //firefox
        -o-animation: pulse 1s infinite; //opera
    }
}

.nav-text {
    font-size: 1.5rem !important;
    color: $primary!important;
    &:hover {
        color: $warning !important;
    }
}

.nav-logo {
    padding-right: 5rem;
        animation: bounceInDown 1s; //other browsers
        -webkit-animation: bounceInDown 1s; //webkit browsers
        -moz-animation: bounceInDown 1s; //firefox
        -o-animation: bounceInDown 1s; //opera
}

.nav-leaf-logo {
    width: 45px;
    height: 45px;
    margin-right: 5rem;
}

.nav-brand,
.nav-link,
.nav-text {
    margin-top: 0rem !important;
}

@media only screen and (max-width: 600px) {
    .nav-brand {
        padding-left: 0rem;
        padding-right: 2rem;
        font-size: 1.25rem !important;
    }
}

@media only screen and (max-width: 400px) {
    .nav-brand-aspen {
        font-size: 1.5rem;
        height: 1.65rem;
    }
    
    .nav-brand-machines {
        font-size: 1.15rem;
        height: 2rem;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .nav-brand-line {
        width: 1.75rem;
        height: 1px;
        color: #FFFFFF;
        background-color: #FFFFFF;
        margin-top: 0.8rem;
    }
}

@media only screen and (max-width: 386px) {
    .nav-brand {
        padding-left: 0rem;
        padding-right: 2rem;
        font-size: 1rem !important;
    }
}

@media only screen and (max-width: 370px) {
    .nav-brand-aspen {
        font-size: 1.25rem;
        height: 1.4rem;
    }
    
    .nav-brand-machines {
        font-size: 0.95rem;
        height: 2rem;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
    }

    .nav-brand-line {
        width: 1.5rem;
        height: 1px;
        color: #FFFFFF;
        background-color: #FFFFFF;
        margin-top: 0.6rem;
    }
}

@media only screen and (max-width: 339px) {
    .nav-brand {
        padding-left: 0rem;
        padding-right: 2rem;
        font-size: 0.8rem !important;
    }
}

