@import '../../../theme';

.equipment-briquetters-title {
    font-size: 3rem;
    font-weight: 900;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3.5rem;
    width: 100%;
    text-align: center;
}