@import '../../theme';


.footer {
    background-color: $dark;
    color: #FFFFFF;
    height: 150px;
    font-size: 1.5rem;
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 150px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-contact-info {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.footer-phone-info {
    width: 100%;
}

.footer-email-info {
    width: 100%;
}

.footer-copyright {
    width: 100%;
}

.footer-button-container {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.footer-button {
    width: 100%;
    height: 50px;
    font-size: 1.5rem !important;
    align-content: center;
}

.footer-services-button {
    color: $dark !important;
}

.footer-contact-button {
    color: $primary !important;
    margin-bottom: 10px;
}

.footer-logo-container {
    width: 35%;
    margin-left: 5%;
    display: flex;
}

.footer-logo {
    height: 145px;
    width: auto;
    max-width: 100%;
}

@media only screen and (max-width: 1050px) {
    .footer-contact-info {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }

    .footer-logo-container {
        width: 0%;
        margin-left: 0%;
        display: flex;
    }

    .footer-button-container {
        width: 40%;
        align-items: flex-end;
    }

    .footer-button {
        width: 51%;
        height: 50px;
        font-size: 1.5rem !important;
        align-content: center;
    }
}

@media only screen and (max-width: 835px) {
    .footer-contact-info {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .footer {
        font-size: 1rem;
        height: 100px;
    }
}

@media only screen and (max-width: 355px) {
    .footer {
        font-size: 0.75rem;
        height: 60px;
    }


}

