// Color Palette
$primary: #FFA500;
$secondary: #8B8CA4;
$tertiary: #B83C51;
$dark: #1F3538;
$light: #F3F7F5;
$success: #7DAB40;
$info: #252C3A;
$warning: #FB9B08;
$danger: #F44336;

html {
    max-width: 100%;
    width: auto;
}

body {
    overflow-x: hidden;
    max-width: 100%;
    width: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap";