// Color Scheme Aspen
$primary: #FFA500;
$secondary: #B2B68B; // #84888C
$tertiary: #AA5143;
$dark: #2D4C50;
$light: #EDF3EF;
$success: #7fba3d;
$info: #1c3034;
$warning: #fdaa05;
$danger: #F44336;


html {
    background-color: #FFFFFF;
    max-width: 100%;
    width: auto;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    width: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

@import "node_modules/bootstrap/scss/bootstrap";